<form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
  <div class="col-sm-6">
    <label class="visually-hidden" for="specificSizeInputName">Wish</label>
    <input type="text" class="form-control" [(ngModel)]="newWishText" name="new-wish-text" id="specificSizeInputName" placeholder="Enter your wish here">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary" (click)="$event.preventDefault(); newWish();">Add Wish</button>
  </div>
</form>
